<head>
<link rel="stylesheet" href="$link{css}/common.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/contents.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jPaginator.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jquery-ui.min.css" />
<script type="text/javascript" src="$link{js}/jPaginator.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript">


</script>
<style>
    .resultbox{
        border:1px solid #f5f5f5;overflow-y: auto;padding:10px;color:#f5f5f5; text-align:left;
        margin:10px;
        background: #000;
        line-height: 150%;
    }
    td{
        line-height: 150%;
    }
    td ul{
        margin: 10px 30px;
    }

</style>
<script type="text/javascript" src="$link{script}/view-common.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <hgroup></hgroup>
        <section class="secondary_bar"></section>
    </div>
    <aside class="sidebar"></aside>
    <div id="content-main">
        <div id="fwrite">
        <table class="twrite_basic">
                <thead>
                    <tr>
                        <th colspan="4">지갑 계좌서버 상태체크 Console</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sender계정</td>
                        <td colspan="3"><span class='result-mainaddress'>

[
    "" 
]

                            </span></td>
                    </tr>
                    <tr>
                        <th>비트코인서버상태
                            <br /><input type="button"  class="btn-default" value="다시체크" onclick="getinfo();" /></th>
                        <td>
                            <div id="result-getinfo" style="width:270px;height:100px;" class="resultbox">
                            Loading..
                            </div>
                        </td>
                        <th>전체잔액
                            <br />
                            <input type="button"  class="btn-default" value="다시체크" onclick="getbalance();" /></th>
                            <td>
                            <div id="result-getbalance" style="width:270px;height:100px;" class="resultbox">
                            Loading..
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>최근트렌젝션들
                            <br /><input type="button"  class="btn-default" value="다시체크" onclick="listtransactions();" /></th>
                        <td colspan="3">
                            <input type="text" id='tran-user' placeholder="MB+회원번호"  style="width:200px;"  />
                            <input type="button"  class="btn-default" value="검색" onclick="listtransactions($('#tran-user').val());" />
                            <div id="result-listtransactions" style="width:95%;height:200px;"  class="resultbox" >
                            Loading..
                            </div>
                        </td>

                    </tr>


                    <tr>
                        <th>외부지갑으로</th>
                        <td style="padding:10px 0">
                            컨펌 비밀번호 <input type="password" id='sendfrom-pwd' placeholder="비밀번호"  style="width:200px;"/>
                            <br />
                            <input type="text" id='sendfrom-to-coin' placeholder="0.0"  style="width:50px;"/>
                            <input type="text" id='sendfrom-to-address' placeholder="bitcoinaddress"  style="width:300px;"/>
                            <br />
                            <input type="text" id='sendfrom-to-tolabal' placeholder="받는 사람 라벨"  style="width:300px;"/>

                            <input type="button"  class="btn-default" value="전송"
                                   onclick="sendbitfrom($('#sendfrom-to-address').val(),
                                               $('#sendfrom-to-coin').val(),
                                               $('#sendfrom-pwd').val(),
                                               $('#sendfrom-to-tolabal').val() )" />
                            <div id="result-system-sendfrom"  class="resultbox">
                            bitcoin#
                            </div>
                        </td>
                        <th>전송수수료변경</th>
                        <td style="padding:10px 0">
                            <input type="text" id='set-tx-fee' placeholder="0.0005"  style="width:50px;"/>
                            <input type="button"  class="btn-default" value="SET" onclick="settxfee($('#set-tx-fee').val() )" />
                            <div id="result-system-settxfee"  class="resultbox">
                            bitcoin#
                            </div>
                        </td>
                    </tr>



                </tbody>
        </table>

        <center>
          <input type="button"  class="btn-default orange" value="전문가모드 (잔액증명 & MOVE)" onclick="exportModeToogle()" />
        </center>
        <table id="exportmode" style="display:none;">
          <tr>
              <th>코인이동(local)<br />메인->유저지갑</th>
              <td style="padding:10px 0">
                  <input type="text" id='moveto-to-user' placeholder="받는 MB+회원번호"  style="width:150px;"/>
                  <input type="text" id='moveto-to-coin' placeholder="0.0"  style="width:50px;"/>
                  <input type="button"  class="btn-default" value="MOVE" onclick="moveto($('#moveto-to-user').val(), $('#moveto-to-coin').val() )" />
                  <div id="result-system-moveto" style="width:270px;height:80px;"  class="resultbox">
                  bitcoin#
                  </div>
              </td>

              <th>코인이동(local)<br />유저->유저지갑</th>
              <td style="padding:10px 0">
                  <input type="text" id='move-from-user' placeholder="보내는 MB+회원번호"  style="width:150px;"/>
                  <input type="text" id='move-to-user' placeholder="받는 MB+회원번호"  style="width:150px;"/>
                  <input type="text" id='move-to-coin' placeholder="0.0"  style="width:50px;"/>
                  <input type="button"  class="btn-default" value="MOVE" onclick="move($('#move-from-user').val(), $('#move-to-user').val(), $('#move-to-coin').val() )" />
                  <div id="result-move-utu" style="width:270px;height:50px;"  class="resultbox">
                  bitcoin#
                  </div>

              </td>
          </tr>

          <tr>
              <th>사용자 잔액 증명</th>
              <td style="padding:10px 0">
                  <input type="text" name="suser" id='s-user' placeholder="MB+회원번호"  style="width:200px;"/>
                  <input type="button"  class="btn-default" value="검색" onclick="getbalance($('#s-user').val())" />
                  <div id="result-getbalance-user" style="width:270px;height:80px;"  class="resultbox">
                  bitcoin#
                  </div>
              </td>

              <th>사용자 계좌정보</th>
              <td style="padding:10px 0">

                  <input type="text" name="suser" id='s-user2' placeholder="MB+회원번호"  style="width:200px;"/>
                  <input type="button"  class="btn-default" value="검색" onclick="getaddressesbyaccount($('#s-user2').val())" />
                  <div id="result-getaddressesbyaccount" style="width:270px;height:80px;"  class="resultbox">
                  bitcoin#
                  </div>
              </td>
          </tr>


        </table>


        <table>
          <tr>
              <td style='padding:10px 0'>
                  비트코인지갑서버 설명
                  <ul>
                      <li>유저가 비트코인을 입금하면 1컨펌 전까지 입금한 BTC를 가지고 있습니다.</li>
                      <li>1컨펌 이후 해당 유저의 BTC는 system계정으로 MOVE되어 해당 유저의 지갑BTC는 0이되고 <b>BTC포인트</b>가 입금됩니다.</li>
                      <li>모든 유저의 지갑잔액은 0이되어야 정상입니다.</li>
                  </ul>
              </td>
          </tr>
        </table>

        </div>



    </div>
    <div id="footer"></div>
</div>

<script>
    

var parammode = $.getUrlVar('mode');


getsystemaddress();
getinfo();
getbalance();
listtransactions();




function exportModeToogle(){
  $('#exportmode').toggle();
}


function getsystemaddress(){
    var backdata;
    var domobj = $('.result-mainaddress');
    domobj.html('loading..');
    $.getJSON('/?mode='+parammode+'/getsystemaddress', 'json', function (data) {
            backdata = data;
        })
        .done(function() {
            domobj.html( ''+JSON.stringify(backdata, null, ' ') );
        })
        .fail(function() {
            domobj.html('<p>서버와 연결중 에러가 발생하였습니다.</p><p>잠시 뒤 다시 시도해 보세요.</p>');
        })
        .always(function() {});
}

function getinfo(){
     $('#result-getinfo').html('bitcoin#');
    $.getJSON('/?mode='+parammode+'/bitgetinfo&func=getinfo', 'json', function (data) {
            backdata = data;
        })
        .done(function() {
            $('#result-getinfo').html( 'bitcoin# '+JSON.stringify(backdata, null, '<br />') );
        })
        .fail(function() {
            $('#result-getinfo').html('<p>서버와 연결중 에러가 발생하였습니다.</p><p>잠시 뒤 다시 시도해 보세요.</p>');
        })
        .always(function() {});
}
function getbalance(param){
    var domobj = $('#result-getbalance');
    var urladd = '';
    if(param) {
        domobj = $('#result-getbalance-user');
        urladd = '&param='+param;
    }

    domobj.html('bitcoin#');
    $.getJSON('/?mode='+parammode+'/getbalance'+urladd, 'json', function (data) {
            backdata = data;
        })
        .done(function() {
            domobj.html( 'bitcoin# '+JSON.stringify(backdata, null, '<br />') );
        })
        .fail(function() {
            domobj.html('<p>서버와 연결중 에러가 발생하였습니다.</p><p>잠시 뒤 다시 시도해 보세요.</p>');
        })
        .always(function() {});
}

function listtransactions(param){
    var domobj = $('#result-listtransactions');
    domobj.html('bitcoin#');

    var urladd = '';
    if(param) {
        domobj = $('#result-listtransactions');
        urladd = '&param='+param;
    }
    $.getJSON('/?mode='+parammode+'/listtransactions'+urladd, 'json', function (data) {
            backdata = data;
        })
        .done(function() {
            domobj.html( 'bitcoin# '+JSON.stringify(backdata, null, '<br />') );
        })
        .fail(function() {
            domobj.html('<p>서버와 연결중 에러가 발생하였습니다.</p><p>잠시 뒤 다시 시도해 보세요.</p>');
        })
        .always(function() {});
}


function getaddressesbyaccount(param){
    var domobj = $('#result-getaddressesbyaccount');
    domobj.html('bitcoin#');
    $.getJSON('/?mode='+parammode+'/getaddressesbyaccount&param='+param, 'json', function (data) {
            backdata = data;
        })
        .done(function() {
            domobj.html( 'bitcoin# '+JSON.stringify(backdata, null, '<br />') );
        })
        .fail(function() {
            domobj.html('<p>서버와 연결중 에러가 발생하였습니다.</p><p>잠시 뒤 다시 시도해 보세요.</p>');
        })
        .always(function() {});
}

function moveto(user,coin){
    var domobj = $('#result-system-moveto');
    domobj.html('');
    $.getJSON('/?mode='+parammode+'/bitmoveto&account='+user+'&amount='+coin, 'json', function (data) {
            backdata = data;
        })
        .done(function() {
            domobj.html( 'bitcoin move# '+JSON.stringify(backdata, null, '<br />') );
        })
        .fail(function() {
            domobj.html('<p>서버와 연결중 에러가 발생하였습니다.</p><p>잠시 뒤 다시 시도해 보세요.</p>');
        })
        .always(function() {});
}

function settxfee(fee){
  var domobj = $('#result-system-settxfee');
  domobj.html('');
  $.getJSON('/?mode='+parammode+'/settxfee&fee='+fee, 'json', function (data) {
          backdata = data;
      })
      .done(function() {
          domobj.html( 'bitcoin fee# '+JSON.stringify(backdata, null, '<br />') );
      })
      .fail(function() {
          domobj.html('<p>서버와 연결중 에러가 발생하였습니다.</p><p>잠시 뒤 다시 시도해 보세요.</p>');
      })
      .always(function() {});
}

function move(fromaccount,user,coin){
    var domobj = $('#result-move-utu');
    domobj.html('');
    $.getJSON('/?mode='+parammode+'/bitmove&fromaccount='+fromaccount+'&account='+user+'&amount='+coin, 'json', function (data) {
            backdata = data;
        })
        .done(function() {
            domobj.html( 'bitcoin move# '+JSON.stringify(backdata, null, '<br />') );
        })
        .fail(function() {
            domobj.html('<p>서버와 연결중 에러가 발생하였습니다.</p><p>잠시 뒤 다시 시도해 보세요.</p>');
        })
        .always(function() {});
}


function sendbitfrom(address,coin,pwd,tolabal){
    if(!tolabal) tolabal = '';
    var enpwd = $.md5(''+pwd);

    var domobj = $('#result-system-sendfrom');
    domobj.html('');
    $.getJSON('/?mode='+parammode+'/bitsend&address='+address+'&pwd='+enpwd+'&amount='+coin+'&tolabal='+tolabal, 'json', function (data) {
            backdata = data;
        })
        .done(function() {
            domobj.html( 'bitcoin send# '+JSON.stringify(backdata, null, '<br />') );
        })
        .fail(function() {
            domobj.html('<p>서버와 연결중 에러가 발생하였습니다.</p><p>잠시 뒤 다시 시도해 보세요.</p>');
        })
        .always(function() {});
}

</script>
</body>
