<head>
<link rel="stylesheet" href="$link{css}/common.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/contents.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jquery-ui.min.css" />
<script type="text/javascript" src="$link{js}/jPaginator.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="$link{script}/view-common.min.js"></script>
<script type="text/javascript" src="$link{script}/view-view.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <hgroup></hgroup>
        <section class="secondary_bar"></section>
    </div>
    <aside class="sidebar"></aside>
    <div id="content-main">
        <div class="form">
            <table class="twrite_basic">
                <thead>
                    <tr>
                        <th>항목</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>아이디</th>
                        <td><span id="mbId"></span></td>
                    </tr>
                    <tr>
                        <th>접근제한 메뉴명</th>
                        <td><span id="auMenu"></span></td>
                    </tr>
                    <tr>
                        <th>제한 권한</th>
                        <td><span id="auAuth"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="view_buttons">
            <input type="button" id="btn_list" name="btn_list" class="btn-default" value="목 록" />
            <input type="button" id="btn_write" name="btn_submit" class="btn-default right" value="등 록" />
            <input type="button" id="btn_modify" name="btn_modify" class="btn-default right" value="수 정" onclick="location.href=bean.link.write+'&id='+bean.data.auNo" />
            <input type="button" id="btn_delete" name="btn_delete" class="btn-default right" value="삭 제" onclick="alertDelete();" />
        </div>
    </div>
    <div id="footer"></div>
</div>
<script>
function deleteAction(){
    var data = {'id':bean.data.auNo};
    var result = -1;
    $('body').showDialogProgress();
    $.post(bean.link.del,
        data,
        function(json){
            result = parseInt(json.result);
            if(result>0){
                $(location).attr('href',bean.link.list);
            }else if(result==0){
                $('body').viewDialogMessage('<p>삭제에 실패하였습니다.</p>');
            }else if(result==-210){
                $('body').viewDialogMessage('<p>권한이 없습니다.</p>', function(){ $(location).attr('href',bean.link.list); });
            }else{
                $('body').viewDialogMessage('<p>삭제에 실패하였습니다.</p><p>Error code : '+result+'</p>');
            }
        }, "json")
        .done(function() { $('body').hideDialogProgress();})
        .fail(function() { $('body').viewDialogMessage('<p>서버와 연결중 에러가 발생하였습니다.</p><p>잠시 뒤 다시 시도해 보세요.</p>',reload); })
        .always(function() {});
    return false;
}

function alertDelete(){
    $('body').viewConfirmDialogMessage('<p>정말 삭제하시겠습니까?</p>',deleteAction);
}
</script>
</body>