<head>
<link rel="stylesheet" href="$link{css}/common.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/contents.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jquery-ui.min.css" />
<link rel="stylesheet" href="$link{css}/jPaginator.min.css" />
<script type="text/javascript" src="$link{js}/jPaginator.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-inputhints.min.js"></script>
<script type="text/javascript" src="$link{script}/view-common.min.js"></script>
<script type="text/javascript" src="/Plugin/editor/js/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript" src="$link{script}/view-view-bbs.min.js"></script>
<script>
function writeCmtListBody(jsondata){
    var listItems = [];
    var i = 0;
    var num = 0;
    $.each(jsondata, function (key, val) {
        var c = i%2;
        //num = parseInt(getLastestNum(selectedPage) - i);
        listItems.push('<tr class="list'+c+'" >');
		//listItems.push('<th class="num">' + num + '</th>');
		listItems.push('<td width="100">' + val.mbNick+'(' +val.mbId+ ')</th>');
		listItems.push('<td>' + (val.content).replace(/\\\"/gi,'"') + '</td>');
		listItems.push('<td width="70" class="time">' + val.regDt.cut(10,'') + '</th>');
        listItems.push('<td width="70" class="time" >');
        listItems.push('<button class="cmt-btn-delete" onclick="alertCmtDelete(\''+val.cmtNo+'\');">[삭제]</button>');
        listItems.push('</th>');
		listItems.push('</tr>');
        i++;
    });
    if(i===0){
        $('#cmtArea').hide();
        //listItems.push('<tr><td colspan="4" align="center">작성된 댓글이 없습니다.</td></tr>');
    }
    return listItems.join('');
}

</script>
<script type="text/javascript" src="$link{script}/view-view-cmt.min.js"></script>
<style>
td span#content img{
    max-width: 720px;
}
</style>
</head>
<body>
<div id="wrap">
    <div id="header">
        <hgroup></hgroup>
        <section class="secondary_bar"></section>
    </div>
    <aside class="sidebar"></aside>
    <div id="content-main">
        <div style="margin:0 0 10px 0">
            <input type="button" id="btn_list" name="btn_list" class="btn-default" value="목 록" />
            <input type="button" id="btn_write" name="btn_submit" class="btn-default right" value="등 록" />
            <input type="button" id="btn_modify" name="btn_modify" class="btn-default right" value="수 정" onclick="location.href=bean.link.write+'&id='+bean.data.bbsNo" />
            <input type="button" id="btn_delete" name="btn_delete" class="btn-default right" value="삭 제" onclick="alertDelete();" />
        </div>
        <div class="form">
            <table class="twrite_basic">
                <thead>
                    <tr id="enSubject">
                        <th id="enSubject_header">제목</th>
                        <td>[<span id="cateName"></span>]<span id="subject"></span></td>
                    </tr>
                    <tr id="krSubject">
                        <th>[한글]제목</th>
                        <td>[<span id="cateName"></span>]<span id="subjectKr"></span></td>
                    </tr>
                    <tr id="cnSubject">
                        <th>[중문]제목</th>
                        <td>[<span id="cateName"></span>]<span id="subjectCn"></span></td>
                    </tr>
                </thead>
                <tbody>
                    <tr bgcolor="fbfbfb">
                        <th>작성자</th>
                        <td>
                            <div class="left">
                                <span id="mbNick"></span>(<span id="mbId"></span>) &nbsp; / <span id="mbLevel"></span>LV
                            </div>
                            <div class="right">
                                <b>조회수 : </b> <span id="hit"></span>  &nbsp; / <b>댓글수 : </b> <span id="cmtCnt"></span>
                                &nbsp;
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>옵션</th>
                        <td>공지 : <span id="isNotice"></span> / 비밀글 : <span id="isSecret"></span>
                        </td>
                    </tr>
                    <tr id="enContent">
                        <th id="enContent_header">내용</th>
                        <td>
                            <div style="overflow:auto;min-height:200px;width:750px;padding:10px 0;">
                                <span id="content"></span>
                            </div>
                         </td>
                    </tr>
                    <tr id="krContent">
                        <th>[한글]내용</th>
                        <td>
                            <div style="overflow:auto;min-height:200px;width:750px;padding:10px 0;">
                                <span id="contentKr"></span>
                            </div>
                         </td>
                    </tr>
                    <tr id="cnContent">
                        <th>[중문]내용</th>
                        <td>
                            <div style="overflow:auto;min-height:200px;width:750px;padding:10px 0;">
                                <span id="contentCn"></span>
                            </div>
                         </td>
                    </tr>
                    <tr bgcolor="#fbfbfb">
                        <th>댓글</th>
                        <td style="padding:20px 0;">
                            <section class="cmtlists"></section>
                            <script type="text/javascript" src="$link{script}/write-pagination.min.js" charset="utf-8"></script>
                            <input type="button" name="cmt_view" class="g2white-btn" style="margin-top:20px;" value="댓글작성하기" onclick="$('#cmtArea').show();$(this).hide();setEditor('textarea-cmtcontent');"/>
                        </td>
                    </tr>
                    <tr id="cmtArea" style="display: none;">
                        <th>댓글쓰기</th>
                        <td style="min-height:200px;"><br />
                            <form method="post">
                            <input type="hidden" name="token" value="" />
                            <input type="hidden" name="bbsNo" value="" />
                            <input type="hidden" name="parentCmtNo" value="0" />
                            <input type="hidden" name="imageUrl" value="" />
                                <textarea id="textarea-cmtcontent" name="textarea-cmtcontent" required  rows="3" cols="100" style="margin:auto;width:700px; height:100px; display:none;"></textarea>
                                <br /><center><input type="button" id="btn_submit_cmt" name="btn_submit_cmt" class="btn-default orange" value="댓글등록" style="width:200px;"/></center>
                            </form>
                         </td>
                    </tr>
                    <tr>
                        <th>글보기권한</th>
                        <td>
                            글보기차감포인트 : <span id="viewPoint"></span> /
                            글보기권한 : <span id="viewLevel"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>댓글권한</th>
                        <td>
                             댓글허용 : <span id="cmtUseYn"></span> /
                            댓글허용LV : <span id="cmtLevel"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>기타권한</th>
                        <td>스크랩사용 : <span id="scrapUseYn"></span>  /
                            공유허용 : <span id="copyUseYn"></span>  /
                            검색노출 : <span id="searchUseYn"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>작성일</th>
                        <td><span id="regDt"></span></td>
                    </tr><tr>
                        <th>수정일</th>
                        <td><span id="modDt"></span></td>
                    </tr><tr>
                        <th>등록아이피</th>
                        <td><span id="regIp"></span></td>
                    </tr><tr>
                        <th>기타</th>
                        <td><span id="etc1"></span>
                            <span id="etc2"></span>
                            <span id="etc3"></span>
                            <span id="etc4"></span>
                            <span id="etc5"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="view_buttons">
            <input type="button" id="btn_list2" name="btn_list2" class="btn-default" value="목 록" />
            <input type="button" id="btn_write" name="btn_submit" class="btn-default right" value="등 록" />
            <input type="button" id="btn_modify" name="btn_modify" class="btn-default right" value="수 정" onclick="location.href=bean.link.write+'&id='+bean.data.bbsNo" />
            <input type="button" id="btn_delete" name="btn_delete" class="btn-default right" value="삭 제" onclick="alertDelete();" />
        </div>
    </div>
    <div id="footer"></div>
</div>
<script>
    $(document).ready(function(){
        if(typeof(bean.data)!=='undefined'){
            if(parseInt(bean.data.chNo)!=100){
                $('#krSubject').css('display','none');
                $('#krContent').css('display','none');
                $('#cnSubject').css('display','none');
                $('#cnContent').css('display','none');
            }else if(parseInt(bean.data.chNo)==100){
                $('#enSubject_header').html('[영문]제목');
                $('#enContent_header').html('[영문]내용');
            }
        }
    });
</script>
</body>