<head>
<link rel="stylesheet" href="$link{css}/common.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/contents.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jquery-ui.min.css" />
<script type="text/javascript" src="$link{js}/jPaginator.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="$link{script}/view-common.min.js"></script>
<script type="text/javascript" src="$link{script}/view-view.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <hgroup></hgroup>
        <section class="secondary_bar"></section>
    </div>
    <aside class="sidebar"></aside>
    <div id="content-main">
        <div class="form">
            <table class="twrite_basic">
                <thead>
                    <tr>
                        <th>항목</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                                <th>받는사람아이디</th>
                                <td><span id="meRecvMbId"></span></td>
                            </tr><tr>
                                <th>보낸이</th>
                                <td><span id="meSendMbId"></span></td>
                            </tr><tr>
                                <th>읽은시간</th>
                                <td><span id="meReadDatetime"></span></td>
                            </tr><tr>
                                <th>내용</th>
                                <td>
                                    <div style="overflow:auto;min-height:200px;width:750px;padding:10px 0;">
                                        <span id="meMemo"></span>
                                    </div>
                                </td>
                            </tr>
                </tbody>
            </table>
        </div>
        <div class="view_buttons">
            <input type="button" id="btn_list" name="btn_list" class="btn-default" value="목 록" />
            <input type="button" id="btn_write" name="btn_submit" class="btn-default right" value="등 록" />
            <input type="button" id="btn_modify" name="btn_modify" class="btn-default right" value="수 정" onclick="location.href=bean.link.write+'&id='+bean.data.meId" />
        </div>
    </div>
    <div id="footer"></div>
</div>
</body>