<head>
<link rel="stylesheet" href="$link{css}/common.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/contents.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jquery-ui.min.css" />
<script type="text/javascript" src="$link{js}/jPaginator.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="$link{script}/view-common.min.js"></script>
<script type="text/javascript" src="$link{script}/view-view.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <hgroup></hgroup>
        <section class="secondary_bar"></section>
    </div>
    <aside class="sidebar"></aside>
    <div id="content-main">
        <div class="form">
            <table class="twrite_basic">
                <thead>
                    <tr>
                        <th>항목</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                                <th>구분</th>
                                <td><span id="odAction"></span></td>
                            </tr><tr>
                                <th>체결가</th>
                                <td><span id="trMarketCost"></span></td>
                            </tr><tr>
                                <th>체결수량</th>
                                <td><span id="trTotalCoin"></span></td>
                            </tr><tr>
                                <th>체결시간</th>
                                <td><span id="trRegDt"></span></td>
                            </tr><tr>
                                <th>주문번호</th>
                                <td><span id="odId"></span></td>
                            </tr><tr>
                                <th>메이커 회원번호</th>
                                <td><span id="fromMbNo"></span></td>
                            </tr><tr>
                                <th>등록일</th>
                                <td><span id="trSyncDt"></span></td>
                            </tr>
                </tbody>
            </table>
        </div>
        <div class="view_buttons">
            <input type="button" id="btn_list" name="btn_list" class="btn-default" value="목 록" />
            
        </div>
    </div>
    <div id="footer"></div>
</div>
<script>
    $(document).ready(function(){
        if(typeof(bean.data)!=='undefined'){
            $('#trMarketCost').html( (bean.data.trMarketCost).formatNumber() );
            $('#trTotalCoin').html( (bean.data.trTotalCoin).formatBitcoin() );
        }
    });
</script>
</body>