<head>
<link rel="stylesheet" href="$link{css}/common.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/contents.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jPaginator.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jquery-ui.min.css" />
<script type="text/javascript" src="$link{js}/jPaginator.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-ui-1.10.3.min.js"></script>
<style>
td.difcss {
    color:#FF0000 !important;
}
</style>
<script type="text/javascript">
var listHeader = '[{"ihNo":"No","mbNo":"회원번호","orginMbName":"기존성명","orginMbHp":"기존모바일번호","orginMbBitWallet":"기존비트코인계좌","mbName":"성명","mbHp":"모바일번호","mbBitWallet":"비트코인계좌","ihRegDt":"등록일"}]';
function writeListHead(jsondata){
    var headItems = [];
    $.each(jsondata, function (key, val) {
        headItems.push('<thead><tr>');
		headItems.push('<th width="30">' + val.ihNo + '</th>');
		headItems.push('<th width="50">' + val.mbNo + '</th>');
		headItems.push('<th width="90">' + val.orginMbName + '</th>');
        headItems.push('<th width="90">' + val.mbName + '</th>');
		headItems.push('<th width="100">' + val.orginMbHp + '</th>');
		headItems.push('<th width="100">' + val.mbHp + '</th>');
        headItems.push('<th>' + val.orginMbBitWallet + '</th>');
		headItems.push('<th>' + val.mbBitWallet + '</th>');
		headItems.push('<th width="60">' + val.ihRegDt + '</th>');
		headItems.push('</tr></thead>');
    });
    return headItems.join('');
}
function writeListBody(jsondata){
    var listItems = [];
    var i = 0;
    var num = 0;
    var difcss = '';
    $.each(jsondata, function (key, val) {
        var c = i%2;
        num = parseInt(getLastestNum(selectedPage) - i);
        listItems.push('<tr class="list'+c+'" style="cursor:auto;" >');
		listItems.push('<th class="num">' + num + '</th>');
		listItems.push('<td align="center">' + val.mbNo + '</td>');

        difcss = (val.orginMbName!=val.mbName)?'difcss':'';
		listItems.push('<td class="'+difcss+'">' + val.orginMbName + '</td>');
        listItems.push('<td class="'+difcss+'">' + val.mbName + '</td>');

        difcss = (val.orginMbHp!=val.mbHp)?'difcss':'';
		listItems.push('<td class="'+difcss+'">' + val.orginMbHp + '</td>');
		listItems.push('<td class="'+difcss+'">' + val.mbHp + '</td>');

        difcss = (val.orginMbBitWallet!=val.mbBitWallet)?'difcss':'';
        listItems.push('<td class="num '+difcss+'">' + val.orginMbBitWallet + '</td>');
		listItems.push('<td class="num '+difcss+'">' + val.mbBitWallet + '</td>');
		listItems.push('<td>' + val.ihRegDt + '</td>');
		listItems.push('</tr>');
        i++;
    });
    if(i===0){
        listItems.push('<tr><td colspan="'+getColCount()+'" align="center">결과가 없습니다.</td></tr>');
    }
    return listItems.join('');
}

</script>
<script type="text/javascript" src="$link{script}/view-common.min.js"></script>
<script type="text/javascript" src="$link{script}/view-list.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <hgroup></hgroup>
        <section class="secondary_bar"></section>
    </div>
    <aside class="sidebar"></aside>
    <div id="content-main">
        <form name="search" method="get" action="/">
            <div class="list_search">
        
            <input type="hidden" name="mode" value="WebMemberInfoHis" />
            <span class="custom-dropdown custom-dropdown--white">

                <select name="sf" class="custom-dropdown__select custom-dropdown__select--white">
                    <option value="mb_no">회원번호</option>
                    <option value="mb_name">현재성명</option>
                    <option value="orgin_mb_name">기존성명</option>
                    <option value="mb_hp">현재모바일번호</option>
                    <option value="orgin_mb_hp">기존모바일번호</option>
                    <option value="mb_bit_wallet">현재비트코인계좌</option>
                    <option value="orgin_mb_bit_wallet">기존비트코인계좌</option>
                </select>
            </span>
            <input maxlength="24" type="text" name="sv" />
            <input type="image" value="검색" src="/Web/img/search.png" class="btn-search" onclick="this.form.submit();" />
            </div>
            
            <div class="list_search date">
                <div>
                    <input maxlength="10" type="text" name="svdf" placeholder="시작일">
                    <input maxlength="10" type="text" name="svdt" placeholder="종료일">
                    <input type="image" value="검색" src="/Web/img/search.png" class="btn-search" onclick="this.form.submit();" />
                </div>
            </div>
        </form>
        
        <div class="lists"></div>

        <div class="list_buttons" >
            <div id="pagination" class="page">
                <!-- optional left control buttons-->
                <a class="jPaginatorMax ui-corner-all" id="max_backward">처음</a>
                <a class="jPaginatorOver ui-corner-all" id="over_backward">이전</a>
                <div class='paginator_p_wrap'>
                    <div class='paginator_p_bloc'>
                        <!--<a class='paginator_p'></a> // page number : dynamically added -->
                    </div>
                </div>
                <!-- optional right control buttons-->
                <a class="jPaginatorOver ui-corner-all" id="over_forward">다음</a>
                <a class="jPaginatorMax ui-corner-all" id="max_forward">맨끝</a>
                <input type="button" name="btn_list_all" value="전체목록" class="right btn-default hidden" onclick="document.location.href=bean.link.list" />
            </div>
        </div>
    </div>
    <div id="footer"></div>
</div>
</body>