@charset "utf-8";

/* Google Web Font */
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html,body{
    height:100%;
}
body {
    font-family: "Nanum Gothic", 나눔고딕, NanumGothic, "Apple SD Gothic Neo", 맑은고딕, "Malgun Gothic", AppleGothic, 돋움, Dotum, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
    .container {
        width:1170px;
    }
}
/* bootstrap width fixed md mode */
@media (min-width: 768px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left ;
    }
    .col-md-12 {
      width: 100%;
    }
    .col-md-11 {
      width: 91.66666667%;
    }
    .col-md-10 {
      width: 83.33333333%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-8 {
      width: 66.66666667%;
    }
    .col-md-7 {
      width: 58.33333333%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-5 {
      width: 41.66666667%;
    }
    .col-md-4 {
      width: 33.33333333%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-2 {
      width: 16.66666667%;
    }
    .col-md-1 {
      width: 8.33333333%;
    }
    .col-md-pull-12 {
      right: 100%;
    }
    .col-md-pull-11 {
      right: 91.66666667%;
    }
    .col-md-pull-10 {
      right: 83.33333333%;
    }
    .col-md-pull-9 {
      right: 75%;
    }
    .col-md-pull-8 {
      right: 66.66666667%;
    }
    .col-md-pull-7 {
      right: 58.33333333%;
    }
    .col-md-pull-6 {
      right: 50%;
    }
    .col-md-pull-5 {
      right: 41.66666667%;
    }
    .col-md-pull-4 {
      right: 33.33333333%;
    }
    .col-md-pull-3 {
      right: 25%;
    }
    .col-md-pull-2 {
      right: 16.66666667%;
    }
    .col-md-pull-1 {
      right: 8.33333333%;
    }
    .col-md-pull-0 {
      right: auto;
    }
    .col-md-push-12 {
      left: 100%;
    }
    .col-md-push-11 {
      left: 91.66666667%;
    }
    .col-md-push-10 {
      left: 83.33333333%;
    }
    .col-md-push-9 {
      left: 75%;
    }
    .col-md-push-8 {
      left: 66.66666667%;
    }
    .col-md-push-7 {
      left: 58.33333333%;
    }
    .col-md-push-6 {
      left: 50%;
    }
    .col-md-push-5 {
      left: 41.66666667%;
    }
    .col-md-push-4 {
      left: 33.33333333%;
    }
    .col-md-push-3 {
      left: 25%;
    }
    .col-md-push-2 {
      left: 16.66666667%;
    }
    .col-md-push-1 {
      left: 8.33333333%;
    }
    .col-md-push-0 {
      left: auto;
    }
    .col-md-offset-12 {
      margin-left: 100%;
    }
    .col-md-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
      margin-left: 75%;
    }
    .col-md-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
      margin-left: 50%;
    }
    .col-md-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
      margin-left: 25%;
    }
    .col-md-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
      margin-left: 0%;
    }
}


/* logo */
span.logo{
    background: url(../img/main-logo.png) no-repeat ;
    width:236px;
    height:35px;
    float:left;
    margin-top:20px;
}

span.copyright-logo{
    background: url(../img/copyright-logo.png) no-repeat ;
    width:233px;
    height:55px;
    float:right;
    margin-top:10px;
}

div.right-logo{
    max-width: 200px;
}

span.country{
    width:26px;
    height:18px;
    display:inline-block;
}
span.country.en{
    background: url(../img/icon-lang-en.png) no-repeat ;
}
span.country.zh{
    background: url(../img/icon-lang-zh.png) no-repeat ;
}
span.country.ko, span.country.kr{
    background: url(../img/icon-lang-ko.png) no-repeat ;
}
span.country.text{
    padding-bottom:7px;
    vertical-align: top;
}

@media (max-width:768px){
    .menu-country{
        display:block !important;
    }
}
/*@media (max-width: 768px){
    .menu-country{
        display:block;
    }
}*/

div.banner-topmenu{
    /*background: url(../img/banner-topmenu.png);*/
    width:238px;
    height:60px;
    bottom:0px;
    margin:10px 10px 0 0;
    cursor: pointer;
}
div.banner-topmenu2{
    background: url(../img/banner-topmenu2.png);
    width:100%;
    height:120px;
    bottom:0px;
    margin:10px 10px 0 0;
    /*cursor: pointer;*/
}

.main-splash{
    height: 250px;
    width:100%;
    /*background:  #ffe16f;*/

    /*background: url(http://hosting.kr/theme/img/patterns/lightpaperfibers.png);*/
    /*background: url(../img/bg-main-intro.png) no-repeat #ffe16f;*/
    background: url(https://ununsplash.imgix.net/uploads/1413399939678471ea070/2c0343f7?fit=crop&fm=jpg&h=725&q=75&w=1050) no-repeat scroll center center #ffe16f;
    /*background: url(http://www.ahametals.com/wp-content/uploads/Bitcoin-2014.jpg) no-repeat scroll center center #ffe16f;*/


    /*background: url(../img/bg-main-intro-pt.png);*/

    /*background-position: center center;*/
    background-size: cover ;
    position: relative;

}
.main-splash-explain {
    padding: 10px 0px;
    color: #fff;
    float:left;
}
.main-splash-explain h1,
.main-splash-explain .h1 {
    color: inherit;
    font-weight: 700;
}
.main-splash-explain p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.main-splash-explain > hr {
    border-top-color: #d5d5d5;
}
.container .main-splash-explain,
.container-fluid .main-splash-explain {
    border-radius: 6px;
}
.main-splash-explain .container {

}

.main-splash-join{
    max-width: 350px;
    float: right;
    margin-top: 20px;
    width:40%;
    /*    border-radius: 6px;
        background-color: rgba(255,255,255,0.8);*/
}

.img-messenger{
    background: url(../img/bg-main-intro-mobile.png) no-repeat ;
    width:294px;
    height:228px;
    float: left;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}


/* header menu */
.top-ticker{
    /* border-bottom:1px solid #efefef; */
    color:#555;
    background-color:#efefef;
    font-size: 12px;
	font-weight: bold;
    padding:5px 0;
    font-family: 돋움;
}

.main-top{
    height: 50px;
    width:100%;
    position: relative;
    margin: 10px 0 20px 0;
}

.last_market_subject{
    color:#02619b;
}
/*.navbar-default {
  background:#fff;
  padding: 5px 0;
}*/

.navbar-default .last_krw{
    min-width: 60px;
    display: inline-block;
    color:#02619b;
}

.nav-sidebar-sub > li > .label-currency{
    background-color:#737373;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.nav-sidebar-sub > li > .label-currency-info{
    background-color:#039be5;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

@media (max-width: 250px){
    .navbar-header .logo-mobile{
        display:none;
    }
}
@media (max-width: 768px) {
    html,body{
        font-size:86%;
    }
    .main-right>.page-title{
        height:40px !important;
        border-bottom:0px !important;
    }
    .page-title>h1,
    .page-header>h3{
        margin-top:15px !important;
        margin-bottom:0px !important;
        font-size:14px !important;
    }

    .top-ticker .container{
        width:100%;

        /*color:#999;*/
        font-size: 11px;
        padding:5px 0px 0px 5px;;
        font-family: 돋움;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }

    .navbar-header .logo-mobile{
        background: url(../img/main-logo-mobile.png) no-repeat;
        width: 209px;
        height: 30px;
        float: left;
        margin:10px 0px 0px 10px;
    }

    .dropdown-menu .divider{
        height:0px;
        margin:0px 0;
    }
}

.navbar-default .navbar-link {
    color: #777;
}
.navbar-default .navbar-link:hover {
    color: #333;
}
.navbar-default .btn-link {
    color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #ccc;
}

@media (min-width: 767px){
    .navbar-wallet{
        display:none;
    }
}
@media (max-width: 768px){
    .navbar-wallet{
        display:block;
    }
}

.navbar-wallet{
}
.navbar-wallet ul{
    padding:0 0;
}
.navbar-wallet-header {
    color:#888888;
    list-style:none;
    width:100%;
}
.navbar-wallet-header > li {
    float:left;
    width:100%;
    height:30px;
    line-height:30px;
    font-weight:bold;
    color:#1d0c00;
    background:#f7f7f7;
    border-bottom:1px solid #ccc;
}
.navbar-wallet-sub {
    display:none;
    list-style:none;
    position:fixed;
    top:107px;
    width:100%;
    z-index:100;
}
.navbar-wallet-sub ul {
}

.navbar-wallet-sub ul li {
    list-style:none;
    float:left;
    background:#f7f7f7;
    color:#1d0c00;
    font-weight:100;
    height:25px;
    line-height:25px;
    width:33.3%;
    padding-right:10px;
    border-bottom:1px solid #efefef;
}
.navbar-wallet-sub ul li.bottom {
    border-bottom:1px solid #ccc;
}

/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #297fb8;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #297fb8, 0 0 5px #297fb8;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 6px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 13px;
    height: 13px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: #297fb8;
    border-left-color: #297fb8;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/*//animated*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated2 {
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated3 {
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

}

/*메인하단*/
.main-footer{
    margin-top:30px;
    bottom:0;
    border-top: 1px solid #f5f5f5;
    min-height: 250px;
    padding:50px 0;
    font-size: 14px;
    line-height:24px;
    background: #fff;
}
.main-footer h4{
    font-size: 16px;
}
.main-footer h4.footer-logo{
    font-size: 18px;
    color:#42729a;
}
.main-footer .site-map{

}

.footer-about{
    display:block;
}
.footer-escrowmark{
    position: absolute;
    display:block;
    background: url(../img/escrowmark.png) no-repeat;
    width:98px;
    height:98px;
    float:left;
    margin-top:10px;
}
.footer-comodomark{
    position: absolute;
    display:block;
    /* background: url(../img/comodomark.png) no-repeat;*/
    width:100px;
    height:85px;
    float:left;
    margin-top:10px;
    margin-left:120px;
}

@media (max-width:991px){

}

@media (max-width:768px){
    .footer-about{
        display:none;
    }
    .footer-escrowmark{
        display:none;
    }
    .footer-comodomark{
        display:none;
    }
    .main-footer {
        padding:0 0 0 0;
        font-size:90% !important;
    }
    .main-footer h4{
        font-size:100% !important;
    }
}

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
    }
    80% {
        -webkit-transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


.nav-sidebar > li{
    border-bottom:1px solid #f3f3f3;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color:#555555;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #3c7bb7;
}

.nav-sidebar i{
    color:#555;
    margin:0 10px 0 0;

}
.nav-sidebar > .active > a > i,
.nav-sidebar > .active > a > i:hover,
.nav-sidebar > .active > a > i:focus {
    color: #3c7bb7;
}


.nav-sidebar-sub {
    list-style: none;
    background: #f9f9f9;
    line-height: 30px;
    padding:10px 5px 15px 5px;
    border-top:1px solid #f3f3f3;
    margin: 0;
}
.nav-sidebar-sub2 {
    list-style: none;
    background: #ffffff;
    line-height: 30px;
    padding:10px 5px 15px 5px;
    border-top:1px solid #f3f3f3;
    margin: 0;
}
.nav-sidebar-sub > li{
    padding: 0 15px;
    color:#888888 ;
    font-weight: 100;
    height: 25px;
}

.nav-sidebar-sub.deps2 {
    list-style: none;
    background: #fff;
    margin: 0;
}

.nav-sidebar-sub.deps2 > li{
    padding: 0 5px 0 25px;
}
.nav-sidebar-sub.deps2 > li > i{
    color:#b1b1b1;
}
.nav-sidebar-sub.deps2 > li a,
.nav-sidebar-sub.deps2 > li a:hover,
.nav-sidebar-sub.deps2 > li a:focus{
    color:#666;
    font-weight: 400;
	color:#222;
    height: 25px;
}

.nav-sidebar-sub > hr{
    padding:0px;
    margin: 20px 0 10px 0 !important;
}
.nav-sidebar-sub > .active > a,
.nav-sidebar-sub > .active > a:hover,
.nav-sidebar-sub > .active > a:focus {
    color: #3c7bb7;
}
.nav-sidebar-sub .balance{
    position: absolute;right:20px;
    font-family: tahoma,AppleGothic,Sans-serif;
}
.nav-sidebar-sub .balance .mark{
    font-size: 11px;
    background: none;
    color:#ccc;
}

.nav-sidebar-sub .label.label-default{
    background-color:  #bbbcbf;
}



/* loading btn type */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


/* pagination */
#pager{
    display:table;
    margin-left:auto;
    margin-right:auto
}
/* pagination */

/*
 * Main content start
 */

.main-right {
    background: #ffffff;
    border-right:1px solid #f5f5f5;
    position: relative;
    float:right;
    width:100%;
    min-height: 1250px;
    padding:0px 0px 0px 220px;
}
.main-right-min-height{
    min-height:600px !important;
}


.main-right>.page-title{
    border-bottom:1px solid #f5f5f5;
    height:51px;
    overflow: hidden;
    /*padding: 0 20px;*/
}
.main-right>.page-title>h1{
    font-size: 16px;
}

.main-right>.main{
    padding: 20px 20px 20px 0px;
    color:#666;
    overflow-x: hidden;
    line-height: 150%
}

.main-right>.main h4{
    font-size: 16px;
    line-height: 35px;
}

.tabcontent{
    border-top:0px solid #ccc;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding:30px;
}
@media (max-width: 768px) {
    .main-right {
          padding:0px 0px 0px 0px;
          border-right:0px;
    }
    .main-right>.main{
        padding: 0px 0px 0px 0px;
        color:#666;
        overflow-x: hidden;
        line-height: 150%
    }
    /* sidebar 제거 */
    .container>.sidebar{
        display:none;
    }
    .datetime {
        font-size:90%;
    }
    .row_margin{
        padding:0px 0px 0px 0px !important;
    }
    hr{ 
        margin-top:5px !important;
        margin-bottom:5px !important;
    }
    .navbar {
        margin-bottom: 0px;
    }
    .tabcontent{
        padding:5px;
    }

}

/*
 * Main content end
 */

.panel-body .panel-source{
    width:100%;
    font-size: 12px;
    overflow: hidden;
    width:100%;
}

/*
 *  text style start
 */
.text-align-center{
    text-align:center;
}

.text-align-left{
    text-align:left;
    padding-left:5px;
}

.text-align-right{
    text-align:right;
    padding-right:5px;
}
.text-vaglin-middle{
    vertical-align:middle !important;
}

/*
 *  text style start
 */
