<head>
<link rel="stylesheet" href="$link{css}/common.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/contents.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jPaginator.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jquery-ui.min.css" />
<style>
    span.cfKey1{
        color:#aaaaaa !important;
        font-size:11px;
    }
</style>
<script type="text/javascript" src="$link{js}/jPaginator.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript">
var listHeader = '[{"cfNo":"No","cfKey1":"메인키","cfKey2":"서브키","cfViewType":"타입","cfKo":"한국어","cfEn":"영어","cfZh":"중국어","cfJa":"일본어"}]';
function writeListHead(jsondata){
    var headItems = [];
    $.each(jsondata, function (key, val) {
        headItems.push('<thead><tr>');
		headItems.push('<th width="50">' + val.cfNo + '</th>');
        headItems.push('<th width="30">' + val.cfViewType + '</th>');
		headItems.push('<th style="width:180px;">키</th>');
		headItems.push('<th>' + val.cfKo + '</th>');
		headItems.push('<th>' + val.cfEn + '</th>');
		headItems.push('<th>' + val.cfZh + '</th>');
                headItems.push('<th>' + val.cfJa + '</th>');
		headItems.push('</tr></thead>');
    });
    return headItems.join('');
}
function writeListBody(jsondata){
    var listItems = [];
    var i = 0;
    var num = 0;
    var cutstrlen = 50;
    $.each(jsondata, function (key, val) {
        var c = i%2;
        num = parseInt(getLastestNum(selectedPage) - i);
        if(!val.cfKo) val.cfKo = '';
        if(!val.cfEn) val.cfEn = '';
        if(!val.cfZh) val.cfZh = '';
        if(!val.cfJa) val.cfJa = '';
        
        listItems.push('<tr class="list'+c+'" >');
		listItems.push('<th class="num" onclick=\"viewLink(\''+val.cfNo+'\')\" >' + num + '</th>');
                listItems.push('<td onclick=\"viewLink(\''+val.cfNo+'\')\" >' + val.cfViewType + '</td>');
		listItems.push('<td><span class="cfKey1">' + val.cfKey1 + '</span><br />- '+val.cfKey2+'</td>');
//        listItems.push('<td onclick=\"viewLink(\''+val.cfNo+'\')\" ><span class="cfKey1">' + val.cfKey1 + '</span><br />- '+val.cfKey2+'</td>');
		listItems.push('<td onclick=\"viewLink(\''+val.cfNo+'\')\" >' + val.cfKo.toString().cut(cutstrlen) + '</td>');
		listItems.push('<td onclick=\"viewLink(\''+val.cfNo+'\')\" >' + val.cfEn.toString().cut(cutstrlen) + '</td>');
		listItems.push('<td onclick=\"viewLink(\''+val.cfNo+'\')\" >' + val.cfZh.toString().cut(cutstrlen) + '</td>');
                listItems.push('<td onclick=\"viewLink(\''+val.cfNo+'\')\" >' + val.cfJa.toString().cut(cutstrlen) + '</td>');
		listItems.push('</tr>');
        i++;
    });
    if(i===0){
        listItems.push('<tr><td colspan="'+getColCount()-1+'" align="center">결과가 없습니다.</td></tr>');
    }
    return listItems.join('');
}

</script>
<script type="text/javascript" src="$link{script}/view-common.min.js"></script>
<script type="text/javascript" src="$link{script}/view-list.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <hgroup></hgroup>
        <section class="secondary_bar"></section>
    </div>
    <aside class="sidebar"></aside>
    <div id="content-main">
        <div class="list_search">
        <form name="search" method="get" action="/">
            <input type="hidden" name="mode" value="WebConfigLanguage" />
            <span class="custom-dropdown custom-dropdown--white">

                <select name="sf" class="custom-dropdown__select custom-dropdown__select--white">
                    <option value="cf_ko">한국어</option>
                    <option value="cf_en">영어</option>
                    <option value="cf_zh">중국어</option>
                    <option value="cf_ja">일본어</option>
                    <option value="cf_key1">메인키</option>
                    <option value="cf_key2">서브키</option>
                </select>
            </span>
            <input type="text" name="sv" />
            <input type="image" value="검색" src="/Web/img/search.png" class="btn-search" onclick="this.form.submit();" />
        </form>
        </div>
        <div class="lists"></div>

        <div class="list_buttons" >
            <div id="pagination" class="page">
                <!-- optional left control buttons-->
                <a class="jPaginatorMax ui-corner-all" id="max_backward">처음</a>
                <a class="jPaginatorOver ui-corner-all" id="over_backward">이전</a>
                <div class='paginator_p_wrap'>
                    <div class='paginator_p_bloc'>
                        <!--<a class='paginator_p'></a> // page number : dynamically added -->
                    </div>
                </div>
                <!-- optional right control buttons-->
                <a class="jPaginatorOver ui-corner-all" id="over_forward">다음</a>
                <a class="jPaginatorMax ui-corner-all" id="max_forward">맨끝</a>
                <input type="button"  class="right btn-default orange" value="사이트에 적용" onclick="makeLanguageJson();" />
                <input type="button" name="btn_s" value="입 력" class="right btn-default" onclick="document.location.href=bean.link.write" />
                <input type="button" name="btn_list_all" value="전체목록" class="right btn-default hidden" onclick="document.location.href=bean.link.list" />
            </div>
        </div>
        <div style="clear:both;margin:70px 0 0 0;background:#f5f5f5;padding:10px 20px;line-height:40px">
            <img src="/Web/img/icon_excel.png" width="30" align="absmiddle">
            <span style="padding:7px 0 0 5px;"><b>엑셀다운로드</b>(페이지 당
                <select onchange="weiteExcelDownlod(this.value);">
                    <option value="100" selected="selected">선택없음</option>
                    <option value="100">100개</option>
                    <option value="200">200개</option>
                    <option value="300">300개</option>
                    
                    
                </select>
                개)</span>
            <span style="margin:5px 0 0 10px;color:#999;font-size:11px"> * 다운로드는 서버에 부하를 줄 수 있으니 사용자가 적은 시간에 이용해 주세요.</span>
            <br />
            <div id="list_download_excel"></div>
        </div>
    </div>
    <div id="footer"></div>
</div>
<script>
    function makeLanguageJson(){
        var backdata = '';
        $.getJSON('/?mode=WebConfigLanguage/makeLanguageJson', 'json', function (data) {
            backdata = data;
        })
        .done(function() {
            alert(backdata.msg);
        })
        .fail(function() {
            alert(backdata.msg);
        })
        .always(function() {});
    }
</script>
</body>