<head>
<link rel="stylesheet" href="$link{css}/common.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/contents.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jquery-ui.min.css" />
<script type="text/javascript" src="$link{js}/jPaginator.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="$link{script}/view-common.min.js"></script>
<script type="text/javascript" src="$link{script}/view-view.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <hgroup></hgroup>
        <section class="secondary_bar"></section>
    </div>
    <aside class="sidebar"></aside>
    <div id="content-main">
        <div class="form">
            <table class="twrite_basic">
                <thead>
                    <tr>
                        <th>항목</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                                <th>mbNo</th>
                                <td><span id="mbNo"></span></td>
                            </tr><tr>
                                <th>mbId</th>
                                <td><span id="mbId"></span></td>
                            </tr><tr>
                                <th>mkType</th>
                                <td><span id="mkType"></span></td>
                            </tr><tr>
                                <th>mkExplain</th>
                                <td><span id="mkExplain"></span></td>
                            </tr><tr>
                                <th>mkEmailKey</th>
                                <td><span id="mkEmailKey"></span></td>
                            </tr><tr>
                                <th>mkConfirmYn</th>
                                <td><span id="mkConfirmYn"></span></td>
                            </tr><tr>
                                <th>mkConfirmIp</th>
                                <td><span id="mkConfirmIp"></span></td>
                            </tr><tr>
                                <th>mkExpireDt</th>
                                <td><span id="mkExpireDt"></span></td>
                            </tr>
                </tbody>
            </table>
        </div>
        <div class="view_buttons">
            <input type="button" id="btn_list" name="btn_list" class="btn-default" value="목 록" />
            <input type="button" id="btn_write" name="btn_submit" class="btn-default right" value="등 록" />
            <input type="button" id="btn_modify" name="btn_modify" class="btn-default right" value="수 정" onclick="location.href=bean.link.write+'&id='+bean.data.mkNo" />
        </div>
    </div>
    <div id="footer"></div>
</div>
</body>