<head>
<link rel="stylesheet" href="$link{css}/common.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/contents.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jPaginator.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jquery-ui.min.css" />
<script type="text/javascript" src="$link{js}/jPaginator.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-inputhints.min.js"></script>
<script type="text/javascript" src="$link{script}/view-common.min.js"></script>
<script type="text/javascript" src="$link{script}/view-form.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <hgroup></hgroup>
        <section class="secondary_bar"></section>
    </div>
    <aside class="sidebar"></aside>
    <div id="content-main">
        <form method="post">
        <input type="hidden" name="token" value="" />
        <input type="hidden" name="odId" value="" />
        <input type="hidden" name="odReceiptKrw" value="0" />
        <input type="hidden" name="odTempKrw" value="0" />
        <div id="fwrite">
            <table class="twrite_basic">
                <thead>
                    <tr>
                        <th>항목</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>구분</th><td><select name="odAction" required /><option value="buy">buy</option><option value="sell">sell</option></select></td>
                    </tr><tr>
                        <th>처리여부</th><td><select name="odPayStatus" required /><option value="REQ">주문</option><option value="CAN">취소</option><option value="OK">체결</option></select></td>
                    </tr><tr>
                        <th>시장가</th><td><input type="text" name="odMarketPrice" style="width:200px" value="" required />원</td>
                    </tr><tr>
                        <th>주문총액(BCH)</th><td><input type="text" name="odTotalCost" style="width:200px" value="" required />원</td>
                    </tr>
                    <tr>
                        <th>아이디</th>
                        <td colspan="3"><input type="text" name="mbId" required style="width:200px" title="아이디를 입력하시고 반드시 확인 버튼을 눌러주세요." />
                            <input type="button" name="btn_list" id="member_check" class="btn-gray" value="회원확인" onclick="memberCheck('mbId',this.form.mbId.value)"/>
                            <input type="hidden" name="mbNo"/>
                            <input type="hidden" name="mbNick" />
                            <label for="mbId" class="explain">회원을 확인해 주세요.<label>
                        </td>
                    </tr>
                    <tr>
                        <th>코인수량</th><td><input type="text" name="odTempCoin"  style="width:200px" value="0.00000000" required /></td>
                    </tr>
                    <tr>
                        <th>체결BCH</th><td><input type="text" name="odReceiptCoin" style="width:200px" value="0.00000000" required /></td>
                    </tr>
                    <tr>
                        <th>odDelYn</th><td><select name="odDelYn" required /><option value="Y">Y</option><option value="N">N</option></select></td>
                    </tr>
                    <tr>
                        <th>거래완료시간</th><td><input type="text" name="odReceiptDt" value="0000-00-00 00:00:00" required /></td>
                    </tr>
                    <tr>
                        <th>등록IP</th><td><input type="text" name="odRegIp" value="" required /></td>
                    </tr>
                    <tr>
                        <th>partner</th><td><input type="text" name="partner" value="" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="write_buttons">
            <input type="button" id="btn_list" name="btn_list" class="btn-default" value="취 소" />
            <input type="button" id="btn_submit" name="btn_submit" class="btn-default orange" value="등 록" />
        </div>
        </form>
    </div>
    <div id="footer"></div>
</div>
</body>