<head>
<link rel="stylesheet" href="$link{css}/common.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/contents.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jquery-ui.min.css" />
<script type="text/javascript" src="$link{js}/jPaginator.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="$link{script}/view-common.min.js"></script>
<script type="text/javascript" src="$link{script}/view-view.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <hgroup></hgroup>
        <section class="secondary_bar"></section>
    </div>
    <aside class="sidebar"></aside>
    <div id="content-main">
        <div class="form">
            <table class="twrite_basic">
                <thead>
                    <tr>
                        <th>항목</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                                <th>거래소구분</th>
                                <td><span id="cfMarketType"></span></td>
                            </tr><tr>
                                <th>거래량</th>
                                <td><span id="cfMaxVolume"></span></td>
                            </tr><tr>
                                <th>트래커수수료</th>
                                <td><span id="cfTrTrackerFee"></span>%</td>
                            </tr><tr>
                                <th>마켓메이커수수료</th>
                                <td><span id="cfTrMarketmakerFee"></span>%</td>
                            </tr><tr>
                                <th>일기준</th>
                                <td><span id="cfMaxDay"></span></td>
                            </tr><tr>
                                <th>등록일</th>
                                <td><span id="cfRegDt"></span></td>
                            </tr>
                </tbody>
            </table>
        </div>
        <div class="view_buttons">
            <input type="button" id="btn_list" name="btn_list" class="btn-default" value="목 록" />
            <input type="button" id="btn_write" name="btn_submit" class="btn-default right" value="등 록" />
            <input type="button" id="btn_modify" name="btn_modify" class="btn-default right" value="수 정" onclick="location.href=bean.link.write+'&id='+bean.data.cfNo" />
        </div>
    </div>
    <div id="footer"></div>
</div>
<script>
    $(document).ready(function(){
        if(typeof(bean.data)!=='undefined'){

            $('#cfTrTrackerFee').html( parseFloat(bean.data.cfTrTrackerFee)*100 );
            $('#cfTrMarketmakerFee').html( parseFloat(bean.data.cfTrMarketmakerFee)*100 );
        }
    });
    </script>
</body>