<!--<head>
<link rel="stylesheet" href="$link{css}/common.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/contents.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jPaginator.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jquery-ui.min.css" />
<script type="text/javascript" src="$link{js}/jPaginator.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-inputhints.min.js"></script>
<script type="text/javascript" src="$link{script}/view-common.min.js"></script>
<script type="text/javascript" src="$link{script}/view-form.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <hgroup></hgroup>
        <section class="secondary_bar"></section>
    </div>
    <aside class="sidebar"></aside>
    <div id="content-main">
        <form method="post">
        <input type="hidden" name="token" value="" />
        <input type="hidden" name="odId" value="" />
        <input type="hidden" name="mbNo" value="" />
        <input type="hidden" name="isUserConfirmYn" value="" />
        <div id="fwrite">
            <table class="twrite_basic">
                <thead>
                    <tr>
                        <th>항목</th>
                        <th colspan="3">
                            <input type="button" class="btn-default orange" value="출금처리자동완성" onclick="requestOrderAutoComplete();" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>처리여부</th><td><select name="odStatus" required /><option value="WAIT">WAIT</option><option value="REQ">REQ</option><option value="OK">OK</option><option value="HOLD">HOLD</option><option value="CAN">CAN</option></select></td>
                        <th>처리결과메시지</th><td><input type="text" name="odStatusMsg" value="" required /></td>
                        </tr><tr>
                        <th>관리자확인</th><td><select name="isAdminConfirmYn" required /><option value="Y">Y</option><option value="N">N</option></select></td>
                        <th>관리자확인시간</th><td><input type="text" name="isAdminConfirmDt" value="0000-00-00 00:00:00" required /></td>
                        </tr><tr>
                        <th>TXID</th><td><input type="text" name="odTxid" value="" required /></td>
                        <th>자산지급시간</th><td><input type="text" name="poPayDt" value="0000-00-00 00:00:00" required /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="write_buttons">
            <input type="button" id="btn_list" name="btn_list" class="btn-default" value="취 소" />
            <input type="button" id="btn_submit" name="btn_submit" class="btn-default orange" value="등 록" />
        </div>
        </form>
    </div>
    <div id="footer"></div>
</div>
</body>-->