<head>
<link rel="stylesheet" href="$link{css}/common.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/contents.min.css" type="text/css">
<link rel="stylesheet" href="$link{css}/jquery-ui.min.css" />
<script type="text/javascript" src="$link{js}/jPaginator.min.js"></script>
<script type="text/javascript" src="$link{js}/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="$link{script}/view-common.min.js"></script>
<script type="text/javascript" src="$link{script}/view-view.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        <hgroup></hgroup>
        <section class="secondary_bar"></section>
    </div>
    <aside class="sidebar"></aside>
    <div id="content-main">
        <div class="form">
            <table class="twrite_basic">
                <thead>
                    <tr>
                        <th>항목</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>성명</th>
                        <td><span id="snName"></span></td>
                    </tr><tr>
                        <th>국가</th>
                        <td><span id="snCountryCode"></span></td>
                    </tr><tr>
                        <th>연락처</th>
                        <td><span id="snCountryDialCode"></span>&nbsp;<span id="snHp"></span></td>
                    </tr><tr>
                        <th>입금알림여부</th>
                        <td><span id="snNDepositYn"></span></td>
                    </tr><tr>
                        <th>출금알림여부</th>
                        <td><span id="snNWithdrawalsYn"></span></td>
                    </tr><tr>
                        <th>등록일</th>
                        <td><span id="snRegDt"></span></td>
                    </tr><tr>
                        <th>등록 아이피</th>
                        <td><span id="snRegIp"></span></td>
                    </tr><tr>
                        <th>변경일</th>
                        <td><span id="snUpDt"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="view_buttons">
            <input type="button" id="btn_list" name="btn_list" class="btn-default" value="목 록" />
            <input type="button" id="btn_write" name="btn_submit" class="btn-default right" value="등 록" />
            <input type="button" id="btn_modify" name="btn_modify" class="btn-default right" value="수 정" onclick="location.href=bean.link.write+'&id='+bean.data.snNo" />
        </div>
    </div>
    <div id="footer"></div>
</div>
</body>